
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    
    background: url('https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2130&q=80');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.loading-text{
    font-weight: bold;
    position: absolute;
    font-size: 55px;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 50px;
    z-index: 1;
    color: white;
    background-color: black;
    transform: translate(-50%,-50%);
}